@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 12s ease infinite;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

/* 2. Hide scrollbar for Firefox, IE, and modern Edge */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll; /* Preserves scroll capability */
}