@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 12s ease infinite;
}

::-webkit-scrollbar {
  display: none;
  width: 0px;
  background: transparent;
}

/* 2. Hide scrollbar for Firefox, IE, and modern Edge */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  overflow-y: scroll; /* Preserves scroll capability */
}
@keyframes fadeOut {
  0% {
    opacity: var(--tw-opacity, 0.2);
  }
  100% {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fadeOut 2.5s cubic-bezier(0.4, 0, 0.6, 1) forwards;
}